/* Variabelen */

:root {
  --darkTheme-background: #222222;
  --darkTheme-text-color: #e4e4e4;
  --darkTheme-main-color: #045757;
  --darkTheme-main-darker-color: #044343;
  --darkTheme-container-bg: #333333;

  --lightTheme-background: #F6F5F5;
  --lightTheme-text-color: #333333;
  --lightTheme-main-color: #3BB4C1;
  --lightTheme-main-darker-color: #048998;
  --lightTheme-container-bg: #E9E4E6;

}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  display: table;
}

body input {
  visibility: hidden;
  position: absolute;
}

body label {
  position: absolute;
  right: 70px;
  top: 20px;
  display: flex;
  align-items: center;
}

body label span {
  margin-right: 10px;
  font-size: 30px;
}

body label:hover {
  cursor: pointer;
}
/**** HEADER ****/
header {
  background-color: var(--lightTheme-main-color);
  border-bottom: 2px solid var(--lightTheme-main-darker-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 75px;
}

header nav div {
  background-image: url("../images/teama1dark.svg");
  width: 100px;
  height: 50px;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

img {
  height: 40px;
}

/**** MAIN ****/
div {
  width: 100%;
  height: 100%;
  display: table-cell;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

main article {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
}

main article section {
  height: 300px;
  background-color: var(--lightTheme-main-color);
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border-radius: 5px;
  box-shadow: 9px 9px var(--lightTheme-main-darker-color);
}

main article section:hover {
  background-color: cornflowerblue;
}

main article section:active {
  background-color: royalblue;
  box-shadow: 5px 5px #666;
  transform: translateY(4px);
}

@media screen and (prefers-color-scheme: dark) {
  input:not(:checked) ~ div {
    background-color: var(--darkTheme-background);
  }

  input:not(:checked) ~ div header {
    background-color: var(--darkTheme-main-color);
  }

  input:not(:checked) ~ div header nav h3 {
    color: var(--darkTheme-text-color);
  }

  input:not(:checked) ~ label span:last-of-type {
    display: none;
  }

  input:checked ~ label span:first-of-type {
    display: none;
  }

  input:checked ~ div header nav div {
    background-image: url("../images/teama1light.svg");
  }

  input:not(:checked) ~ div header nav ul li a {
    color: var(--darkTheme-text-color);
  }

  input:not(:checked) ~ div main article section {
    background-color: var(--darkTheme-container-bg);
    box-shadow: none;
  }
}