* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: lightblue;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 75px;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: black;
    margin-left: 30px;
    text-decoration: none;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    header {
        background-color: darkblue;
    }

    header nav h3 {
        color: white;
    }


    header nav ul li a {
        color: white;
    }
}